#titolo{
	-fx-font: italic bold 12pt "Tahoma";
}
#minore{
	-fx-font: italic bold 11pt "Tahoma";
	-fx-text-fill: red;
}
#maggiore{
	-fx-font: italic bold 11pt "Tahoma";
	-fx-text-fill: green;
}
#punteggio{
	-fx-font: italic bold 11pt "Tahoma";
}
.label{
	-fx-font: italic bold 10pt "Tahoma";
}
.button{
	-fx-font: italic bold 10pt "Tahoma";
	-fx-background-color: #c0c0c0;
}